<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">

	<testsuites>
		<testsuite name="base">
			<directory>./tests/Base</directory>
		</testsuite>
		<testsuite name="calculator">
			<directory>./tests/Calculator</directory>
		</testsuite>
		<testsuite name="exceptions">
			<directory>./tests/Exceptions</directory>
		</testsuite>
		<testsuite name="materials">
			<directory>./tests/Materials</directory>
		</testsuite>
		<testsuite name="partitions">
			<directory>./tests/Partitions</directory>
		</testsuite>
		<testsuite name="parts">
			<directory>./tests/Parts</directory>
		</testsuite>
		<testsuite name="register">
			<directory>./tests/Register</directory>
		</testsuite>
	</testsuites>

	<logging>
	</logging>

	<coverage>
		<include>
			<directory suffix=".php">./src</directory>
		</include>
		<report>
			<!--<html outputDirectory="html-coverage" lowUpperBound="50" highLowerBound="90"/>-->
			<html outputDirectory="./var/phpunit-html-coverage" />
		</report>
	</coverage>

</phpunit>
